<head>
  <link rel="stylesheet" type="text/css" href="./topbar/topbar.css">
</head>
<div id="topbar">
  <button id="menu-button">
    <i class="fa fa-bars" aria-hidden="true"></i>
    <img id="topbar-logo" src="./img/logo.png" alt="" />
  </button>
  <div>
    <h4>Início</h4>
    <button id="toggle-dark-mode">
      <h4>Modo Escuro</h4>
      <i class="fa-solid fa-toggle-on" aria-hidden="true"></i>
    </button>
  </div>
</div>
