#topbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 6px 0px;
  z-index: 70;
}

#topbar > #menu-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 120px;
  background: none;
  font-size: 16px;
  text-align: center;
  border: 0;
}

#topbar > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 120px);
  padding: 0 4px 0 20px;
}

#topbar > div > h4 {
  font-size: 14px;
}

#topbar #topbar-logo {
  width: 30px;
  object-fit: contain;
}

#topbar > div > button > label {
  color: var(--textw);
}

@media (prefers-color-scheme: dark) {
  #topbar {
    background: var(--bar);
    color: var(--textw);
  }
}

@media (prefers-color-scheme: light) {
  #topbar {
    background: var(--bgel);
    color: var(--bgw);
  }
}
