<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
        http-equiv="Content-Security-Policy"
        content="default-src 'self'; script-src 'self'"
      />
      <meta
        http-equiv="X-Content-Security-Policy"
        content="default-src 'self'; script-src 'self'"
      />
      <link rel="stylesheet" type="text/css" href="./home.css">
    <title>onPec</title>
  </head>
  <body>
    <%- include('../header/header.ejs') %>
    
    <main>
      <%- include('../topbar/topbar.ejs') %>
      
      <%- include('../main-banner/main-banner.ejs') %>
  
      <!-- <p>
        Recursos da aplicação: Node.js <span id="node-version"></span>,
        Chromium <span id="chrome-version"></span>,
        e Electron <span id="electron-version"></span>.
      </p> -->
    </main>
  </body>
  <script src="../general.js"></script>
  <script src="./home.js"></script>
</html>
