<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
        http-equiv="Content-Security-Policy"
        content="default-src 'self'; script-src 'self'"
      />
      <meta
        http-equiv="X-Content-Security-Policy"
        content="default-src 'self'; script-src 'self'"
      />
      <link rel="stylesheet" type="text/css" href="./gado-pesagem.css">
    <title>Gado - Pesagem | ON PEC</title>
  </head>
  <body>
    <%- include('../header/header.ejs') %>
    
    <main>
      <%- include('../topbar/topbar.ejs') %>

      <section id="fast-info"></section>
      
      <section id="gado-pesagem">
        <form id="form-gado-pesagem">
          <label class="lbl-gado-pesagem" for="brinco">Brinco</label>
          <input id="brinco" type="text" name="brinco" />

          <div id="gado-descricao">
            <select id="raca" name="raca" title="raca">
              <option value="0" selected disabled>Selecionar Raça</option>
            </select>
  
            <select id="sexo" name="sexo" title="sexo">
              <option value="0" selected disabled>Selecionar Sexo</option>
            </select>
          </div>

          <label class="lbl-gado-pesagem" for="lote">Lote</label>
          <select id="lote" name="lote" title="lote" disabled>
            <option value="0" selected disabled>Selecionar. . .</option>
            <option value="00">Sem alterações</option>
          </select>

          <label class="lbl-gado-pesagem" for="pasto">Pasto</label>
          <select id="pasto" name="pasto" title="pasto" disabled>
            <option value="0" selected disabled>Selecionar. . .</option>
            <option value="00">Sem alterações</option>
          </select>

          <label class="lbl-gado-pesagem" for="fase">Fase</label>
          <select id="fase" name="fase" title="fase" disabled>
            <option value="0" selected disabled>Selecionar. . .</option>
            <option value="00">Sem alterações</option>
          </select>
          
          <label class="lbl-gado-pesagem" for="novo-peso">Peso</label>
          <input id="novo-peso" type="text" name="novo-peso" disabled />

          <div id="submit-gado-pesagem">
            <button id="btn-add" class="hide" disabled>Adicionar Peso</button>
            <button id="btn-clean" class="hide" disabled>Limpar Campos</button>
            <button id="btn-remove" class="hide" disabled>Remover Pesagem</button>
          </div>
        </form>

        <div id="gado-eventos">
           <table>
            <thead></thead>
            <tbody></tbody>
           </table>
        </div>
      </section>
    </main>
  </body>
  <script src="../general.js"></script>
  <script src="../util/gado.js"></script>
  <script src="./gado-pesagem.js"></script>
</html>
