@import url("../general.css");

section#fast-info {
  display: flex;
  gap: 2vw;
  align-items: center;
  padding: 10px;
}

section#fast-info > h2 {
  flex-grow: 2;
  padding: 10px;
  background: var(--bar);
  font-weight: 400;
  font-size: calc(10px + 0.3vw);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

section#gado-pesagem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

#form-gado-pesagem {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: calc(50%);
  min-width: 390px;
  padding: 5px 10px;
}

#form-gado-pesagem label {
  width: calc(80px + 1%);
  padding: 0 10px 0 16px;
  font-size: calc(12px + (4 * (0.3vw / 10)));
  font-weight: 600;
}

#form-gado-pesagem input, #form-gado-pesagem select {
  width: calc(99% - 80px);
  height: 37px;
  margin: 5px 0;
}

#form-gado-pesagem input:focus, #form-gado-pesagem select:focus {
  border-color: var(--neonroncador);
}

#form-gado-pesagem > input:first-of-type {
  height: 65px;
}

#form-gado-pesagem #gado-descricao {
  display: none;
  gap: 10px;
  align-items: center;
  width: 100%;
  padding-left: calc(80px + 1%);
  transition: 0.3s ease;
}

#form-gado-pesagem #gado-descricao select {
  flex: 1 1 190px;
}

#form-gado-pesagem button {
  flex-grow: 1;
  width: calc(33%);
  font-size: calc(12px + (4 * (0.3vw / 10) / 3));
  margin-top: 20px;
}

#form-gado-pesagem input:focus, #form-gado-pesagem select:focus, #form-gado-pesagem button:focus {
  box-shadow: 0px 0px 8px var(--textw);
}

#form-gado-pesagem button.hide {
  flex: inherit;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  pointer-events: none;
}

#form-gado-pesagem #brinco {
  padding: 14px 10px;
  font-size: 26px;
  text-align: center;
}

#form-gado-pesagem #submit-gado-pesagem {
  width: 100%;
  flex-direction: row-reverse;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

#gado-eventos {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: calc(50% - 30px);
  min-width: 300px;
  height: 420px;
  padding: 15px;
  margin: 5px 10px;
  border-radius: 8px;
  text-transform: uppercase;
  text-align: center;
  overflow-x: auto;
}

#gado-eventos th, #gado-eventos td {
  padding: 8px 4px;
  border: 0;
  border-bottom: 1px solid #555555;
  text-wrap: nowrap;
}

@media (prefers-color-scheme: dark) {
  #gado-eventos {
    background: var(--bar);
  }

  #gado-eventos tbody tr:nth-child(odd) {
    background-color: var(--bg); /* Cor para linhas ímpares */
  }
  
  #gado-eventos > table > tbody > tr:hover {
    background: var(--roncador-4o);
  }

  #gado-eventos th, #gado-eventos td {
    color: var(--textw);
  }
}

@media (prefers-color-scheme: light) {
  #gado-eventos {
    background: #EEEEEE;
  }

  #gado-eventos tbody tr:nth-child(odd) {
    background-color: var(--bgw); /* Cor para linhas ímpares */
  }
  
  #gado-eventos > table > tbody > tr:hover {
    background: var(--roncador-4o);
  }

  #gado-eventos th, #gado-eventos td {
    color: var(--textb);
  }
}
