@import url("../general.css");

section#fast-info {
  display: flex;
  gap: 2vw;
  align-items: center;
  padding: 10px;
}

section#fast-info > h2 {
  flex-grow: 2;
  padding: 10px;
  background: #121212EE;
  font-weight: 400;
  font-size: calc(10px + 0.3vw);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

section#gado-pesagem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

#form-gado-pesagem {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: calc(50% - 10px);
  min-width: 390px;
  margin: 5px 10px;
}

#form-gado-pesagem label {
  width: calc(80px + 1%);
  font-size: calc(12px + (4 * (0.3vw / 10)));
  font-weight: 600;
}

#form-gado-pesagem input, #form-gado-pesagem select {
  width: calc(99% - 80px);
  margin: 5px 0;
}

#form-gado-pesagem input:focus, #form-gado-pesagem select:focus {
  border-color: var(--neonroncador);
}

#form-gado-pesagem button {
  width: calc(33%);
  font-size: calc(12px + (4 * (0.3vw / 10) / 3));
  margin-top: 20px;
}

#form-gado-pesagem button.hide {
  opacity: 0;
  pointer-events: none;
}

#form-gado-pesagem #brinco {
  padding: 14px 10px;
  font-size: 26px;
  text-align: center;
}

#gado-eventos {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: calc(50% - 30px);
  min-width: 300px;
  height: 420px;
  padding: 15px;
  margin: 5px 10px;
  border-radius: 8px;
  text-transform: uppercase;
  text-align: center;
  overflow-x: auto;
}

#gado-eventos th, #gado-eventos td {
  padding: 8px 4px;
  border: 0;
  border-bottom: 1px solid #555555;
  text-wrap: nowrap;
}

#gado-eventos > table > tbody > tr:hover {
  background: var(--roncador-4o);
}

#gado-eventos tbody tr:nth-child(odd) {
  background-color: var(--bg); /* Cor para linhas ímpares */
}

@media (prefers-color-scheme: dark) {
  #gado-eventos {
    background: #121212EE;
  }
}

@media (prefers-color-scheme: light) {
  #gado-eventos {
    background: #EEEEEE;
  }
}
