@import url("./fonts/solid.min.css");
@import url("./fonts/fontawesome.min.css");
@import url("./colors/colors.css");

* {
  color: var(--textw);
  font-family: "Segoe UI", "Trebuchet MS", sans-serif;
  box-sizing: border-box;
  outline: inherit;
  text-decoration: none;
  list-style: none;
}

html {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  -webkit-app-region: drag;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 60px 60px 20px 60px;
  background: #252525;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

select {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #444444;
}

input[type="text"], input[type="password"], input[type="email"] {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #444444;
  transition: 0.3s ease;
}

input[type="text"]:hover, input[type="text"]:focus, select:hover {
  border: 1px solid #888888;
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
  accent-color: var(--roncador);
}

input[type="checkbox"]:checked:hover, input[type="radio"]:checked:hover {
  accent-color: var(--neonroncador);
}

button {
  padding: 6px 12px;
  margin: 0;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid var(--roncador);
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover, button:focus {
  color: var(--roncador);
  background: var(--textw);
  border: 1px solid var(--roncador);
}

button.btn2 {
  display: flex;
  gap: 6px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: none;
  font-size: 14px;
  text-align: center;
  border: 0;
}

button.btn2 > label {
  padding: 0;
  margin: 0;
  font-family: "Font Awesome 6 Free";
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

button.btn2 > i {
  font-size: 20px;
}

button.btn2 > svg {
  min-height: 20px;
  font-size: 20px;
}

.spin360 {
  -webkit-animation: spin 1.4s linear infinite;
  -moz-animation: spin 1.4s linear infinite;
  animation: spin 1.4s linear infinite;
}

/* #topbar > div > h4 {
  font-family: "Font Awesome 6 Free";
} */

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg)
    ;transform: rotate(360deg);
  }
}
