* {
  color: var(--textw);
  font-family: "Segoe UI", "Trebuchet MS", sans-serif;
  box-sizing: border-box;
  outline: inherit;
  text-decoration: none;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

select {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #444444;
}

input[type="text"], input[type="password"], input[type="email"] {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #444444;
  transition: 0.3s ease;
}

input[type="text"]:hover, input[type="text"]:focus, select:hover {
  border: 1px solid #888888;
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
  accent-color: var(--roncador);
}

input[type="checkbox"]:checked:hover, input[type="radio"]:checked:hover {
  accent-color: var(--neonroncador);
}

button {
  padding: 6px 12px;
  margin: 0;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid var(--roncador);
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover, button:focus {
  color: var(--roncador);
  background: var(--textw);
  border: 1px solid var(--roncador);
}

html {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: none;
}

body {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  -webkit-app-region: drag;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 60px 60px;
  background: #222222;
}
