@import url("./general.css");
@import url("./fonts/solid.min.css");
@import url("./fonts/fontawesome.min.css");
@import url("./colors/colors.css");

html {
  width: 100%;
  min-width: 300px;
  min-height: 100vh;
}
