<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
        http-equiv="Content-Security-Policy"
        content="default-src 'self'; script-src 'self'"
      />
      <meta
        http-equiv="X-Content-Security-Policy"
        content="default-src 'self'; script-src 'self'"
      />
      <link rel="stylesheet" type="text/css" href="./index.css">
    <title>onPec</title>
  </head>
  <body>
    <%- include('./header/header.ejs') %>
    
    <main>
      <%- include('./topbar/topbar.ejs') %>

      <p>Tema atual: <strong id="theme-source">Dark</strong></p>
  
      <div>
        <button id="reset-to-system">Redefinir para Tema do Sistema</button>
      </div>
      <br>
      <input type="text">
      <input type="checkbox" name="testecb" id="testecb">
      <input type="radio" name="testeradio" id="testeradio">
      <select name="testeselect" id="testeselect">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <p id="info"></p>
      <p>
        Recursos da aplicação: Node.js <span id="node-version"></span>,
        Chromium <span id="chrome-version"></span>,
        e Electron <span id="electron-version"></span>.
      </p>
    </main>
  </body>
  <script src="./index.js"></script>
</html>
