<head>
  <link rel="stylesheet" type="text/css" href="../header/header.css">
</head>
<header class="hide">
  <button id="close-button">
    <i class="fa fa-times" aria-hidden="true"></i><h4>Fechar</h4>
  </button>
  <nav id="nav">
    <ul>
      <li>
        <div>
          <div class="nav-btn" url="home">Início</div>
        </div>
      </li>
      <li>
        <div>
          <div class="nav-btn" url="gado-pesagem">Pesagem</div>
        </div>
      </li>
      <li>
        <div>
          <div class="nav-btn" url="gado-lote">Lote</div>
        </div>
      </li>
      <li>
        <div>
          <div class="nav-btn" url="gado-pasto">Pasto</div>
        </div>
      </li>
    </ul>
  </nav>
  <div id="system-opt">
    <button id="toggle-dark-mode" class="btn2">
      <h4>Modo Escuro</h4>
      <i class="fa-solid fa-toggle-on" aria-hidden="true"></i>
    </button>
    <button id="ajuda">Ajuda</button>
  </div>
</header>

<div id="modal-overlay" class="hide">
</div>
<div id="modal-progress" class="hide">
  <section>
  </section>
</div>
