<head>
  <link rel="stylesheet" type="text/css" href="./header/header.css">
</head>
<header class="hide">
  <button id="close-button">
    <i class="fa fa-times" aria-hidden="true"></i><h4>Fechar</h4>
  </button>
  <nav id="nav">
    <ul>
      <li>
        <div class="home-icon">
          <div class="roof">Início</div>
        </div>
      </li>
      <li>
        <div class="about-icon">
          <div class="head">Pesagem</div>
        </div>
      </li>
      <li>
        <div class="work-icon">
          <div class="paper">Lote</div>
        </div>
      </li>
      <li>
        <div class="mail-icon">
          <div class="mail-base">Pasto</div>
        </div>
      </li>
    </ul>
  </nav>
  <button id="ajuda">Ajuda</button>
</header>

<div id="modal-progress" class="hide">
  <div>
    <section>
      <h4>TESTE</h4>
      <p>TESTESTESTESTSETSETSETSET</p>
    </section>
  </div>
</div>
