:root {
  color-scheme: light dark;
  --roncador: #006e63;
  --roncador-8o: #006e63d2;
  --roncador-4o: #006e6388;
  --neonroncador: #1a7d73;
  --neonroncador-8o: #1a7d73d2;
  --neonroncador-4o: #1ac9b788;
  --hardneon: #00ded3;
  --bg: #202020;
  --bgel: #222222;
  --bgw: #dbdfdd;
  --bar: #121212EE;
  --textw: #efefef;
  --textb: #222222;
  --alert: #af0f0f;
  --gradient-start :#ed6ea0;
  --gradient-end :#ec8c69;
  --marker-line: #b8a018;
}

@media (prefers-color-scheme: dark) {
  main {
    background: var(--bg);
    color: var(--textw);
  }

  input[type="text"], input[type="password"], input[type="email"], select, option {
    color: var(--textw);
    background: var(--bgel);
  }

  label {
    color: var(--textw);
  }

  button {
    background: var(--roncador);
    color: var(--textw);
  }

  main p, main span {
    color: var(--textw);
  }
}

@media (prefers-color-scheme: light) {
  main {
    color: var(--textb);
    background: var(--bgw);
  }

  input[type="text"], input[type="password"], input[type="email"], select, option {
    color: var(--textb);
    background: #eeeeee;
  }

  label {
    color: var(--textb);
  }

  button {
    background: var(--roncador);
    color: var(--bgw);
  }

  main p, main span {
    color: var(--textb);
  }
}

::-webkit-scrollbar {
  width: 12px;
  background: var(--bg);
}

::-webkit-scrollbar-track {
  background-color: #FFFFFF00;
  -webkit-box-shadow: inset 0 0 6px #00000044;
  box-shadow: inset 0 0 6px #00000044;
}

::-webkit-scrollbar-button {
  display: none;
  background: #FFFFFF33;
}

::-webkit-scrollbar-button:hover {
  background: var(--neonroncador);
}

::-webkit-scrollbar-thumb {
  background: #FFFFFF55;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--neonroncador);
}

::-webkit-scrollbar-corner {
  background: #FFFFFF33;
  border-radius: 0px 0px 8px 0px;
}
