:root {
  color-scheme: light dark;
  --roncador: #006e63;
  --neonroncador: #1a7d73;
  --hardneon: #00ded3;
  --bg: #191613;
  --bgel: #222222;
  --bgw: #eeeeee;
  --textw: #efefef;
  --textb: #222222;
  --gradient-start :#ed6ea0;
  --gradient-end :#ec8c69;
}

@media (prefers-color-scheme: dark) {
  main {
    background: var(--bg);
    color: var(--textw);
  }

  input[type="text"], input[type="password"], input[type="email"], select, option {
    color: var(--textw)
  }

  button {
    background: var(--roncador);
    color: var(--textw);
  }

  p, span, strong {
    color: var(--textw);
  }

  #topbar {
    background: transparent;
    color: var(--textw);
  }

  #modal-progress {
    background: #181818AA;
  }

  #modal-progress > div {
    background: #111111;
  }

  #modal-progress > div h4 {
    color: var(--textw);
  }
}

@media (prefers-color-scheme: light) {
  main {
    background: var(--bgw);
    color: var(--textb);
  }

  input[type="text"], input[type="password"], input[type="email"], select, option {
    color: var(--textb)
  }

  button {
    background: var(--roncador);
    color: var(--bgw);
  }

  p, span, strong {
    color: var(--textb);
  }

  #topbar {
    background: var(--bgel);
    color: var(--bgw);
  }

  #modal-progress {
    background: #DEDEDEAA;
  }

  #modal-progress > div {
    background: #EFEFEF;
  }

  #modal-progress > div h4 {
    color: var(--textb)
  }
}

::-webkit-scrollbar {
  width: 12px;
  background: var(--bg);
}

::-webkit-scrollbar-track {
  background-color: #FFFFFF00;
  -webkit-box-shadow: inset 0 0 6px #00000044;
  box-shadow: inset 0 0 6px #00000044;
}

::-webkit-scrollbar-button {
  display: none;
  background: #FFFFFF33;
}

::-webkit-scrollbar-button:hover {
  background: var(--neonroncador);
}

::-webkit-scrollbar-thumb {
  background: #FFFFFF55;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--neonroncador);
}

::-webkit-scrollbar-corner {
  background: #FFFFFF33;
  border-radius: 0px 0px 8px 0px;
}
